<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www/thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>	
</head>

<body>
	<h1>Programmer's Data</h1>
	
	<h2 th:text="${msg}"></h2>
	
	<form action="addProgrammer", method="POST">
	
		<h3>Enter Prgorammer's Name</h3>
		<input type="text" name="pName"></input>
		<h3>Enter Prgorammer's Language</h3>
		<input type="text" name="pLang"></input>
		<button type="submit">Add Programmer</button>
	</form>
	
	
	<hr />
	<form action="findById", method="POST">
	
		<h3>Enter Prgorammer's ID</h3>
		<input type="text" name="pId"></input>
		<button type="submit">Find By ID</button>
	</form>
</body>
</html>